.header {
  padding: 78px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1700px) {
  .header {
    padding: 48px 0;
  }

  .header__logo {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 38px 0;
  }

  .header__logo {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 992px) {
  .header {
    position: relative;
    z-index: 1;
  }

  .header__logo {
    width: 59px;
    height: 59px;
  }
}

@media (max-width: 740px) {
  .header {
    padding: 16px 0;
  }

  .header__logo {
    width: 32px;
    height: 32px;
  }
}