.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 607px;
  background: #FFFFFF;
  border-radius: 15px;
  color: #282828;
  padding: 28px 35px 43px;

}

.item__image {
  width: 300px;
  height: 300px;
  margin-bottom: 36px;
}

.item__title {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 6px;
}

.item__price {
  flex-grow: 1;
  font-size: 28px;
  margin-bottom: 20px;

}