.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 20px;
  overflow-y: auto;
  display: flex;
}

.modal__main {
  position: relative;
  cursor: default;
  margin: auto;
  background-color: #FFF;
  color: #282828;
  padding: 74px 116px;
  border-radius: 25px;
  max-width: 1000px;
}

.modal__close {
  position: absolute;
  right: 34px;
  top: 34px;
  z-index: 1;
  width: 54px;
  height: 54px;
  transition: transform .1s ease-in-out;
}

.modal__close:hover {
  transform: scale(1.1);
}

.modal__title {
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 48px;
}

.modal__description {
  text-align: center;
  font-weight: 300;
  font-size: 41px;
  margin-bottom: 40px; 
}

.modal__field {
  margin-bottom: 66px;
}

.modal__label {
  position: relative;
  display: block;
  margin-bottom: 32px;
}

.modal__label:last-child {
  margin-bottom: 0;
}

.modal__input {
  display: block;
  width: 100%;
  height: 120px;
  border: 3px solid #365ABA;
  border-radius: 15px;
  padding: 0 32px;
  font-weight: 400;
  font-size: 48px;
}

.modal__input:focus {
  border-color: #13338d;
  background-color: rgb(230, 229, 229);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
}

.modal__input-error {
  position: absolute;
  bottom: -30px;
  left: 10px;
  font-size: 24px;
}

.modal__btn {
  width: 100%;
  height: 107px;
  font-size: 59px;
  padding: 20px 40px;
}

.modal__loader-btn {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: 60px;
  height: 60px;
}

.modal__loader-btn:after {
  content: "";  
  display: flex;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@media (max-width: 1700px) {
  .modal__main {
    padding: 80px 60px;
  }
  
  .modal__close {
    right: 30px;
    top: 30px;
  }
  
  .modal__title {
    font-size: 56px;
    margin-bottom: 44px;
  }
  
  .modal__description {
    font-size: 37px;
    max-width: 642px;
    margin-bottom: 34px;
  }
  
  .modal__form {
    max-width: 670px;
  }
  
  .modal__field {
    margin-bottom: 78px;
  }
  
  .modal__label {
    margin-bottom: 40px;
  }
  
  .modal__input {
    padding-left: 36px;
  }

  .modal__btn {
    font-size: 53px;
  }
}

@media (max-width: 1200px) {
  .modal__main {
    padding: 102px 40px;
    max-width: 700px;
  }
  
  .modal__close {
    right: 28px;
    top: 28px;
  }
  
  .modal__title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  
  .modal__description {
    font-size: 34px;
    margin-bottom: 52px;
  }
  
  .modal__field {
    margin-bottom: 74px;
  }
  
  .modal__label {
    margin-bottom: 34px;
  }

  .modal__btn {
    font-size: 48px;
  }

  .modal__input-error {
    bottom: -25px;
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .modal__main {
    max-width: 600px;
  }

  .modal__description {
    margin-bottom: 56px;
  }
  
  .modal__form {
    max-width: 520px;
  }
  
  .modal__field {
    margin-bottom: 62px;
  }
  
  .modal__input {
    font-size: 32px;
    height: 100px;
  }

  .modal__btn {
    height: 90px;
    font-size: 36px;
  }

  .modal__input-error {
    bottom: -23px;
    font-size: 18px;
  }
}

@media (max-width: 740px) {
  .modal {
    padding: 10px;
  }

  .modal__main {
    padding: 70px 16px 42px;
    border-radius: 15px;
    max-width: 400px;
  }

  .modal__close {
    width: 34px;
    height: 34px;
    top: 16px;
    right: 16px;
  }

  .modal__title {
    font-size: 36px;
    margin-bottom: 14px;
  }

  .modal__description {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .modal__field {
    margin-bottom: 18px;
  }

  .modal__label {
    margin-bottom: 20px;
  }

  .modal__input {
    height: 60px;
    padding: 0 20px;
    font-size: 24px;
  }

  .modal__btn {
    height: 65px;
    padding: 20px 15px;
    font-size: 24px;
  }

  .modal__loader-btn {
    width: 35px;
    height: 35px;
  }
  
  .modal__loader-btn:after {
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
  }

  .modal__input-error {
    bottom: -15px;
    font-size: 12px;
  }
}

