.nav {
  display: flex;
  align-items: center;
}

.nav__btn {
  margin-right: 28px;
  transition: transform .2s ease-in-out;
}

.nav__btn:hover {
  transform: scale(1.1);
}

.nav__btn:last-child {
  margin-right: 0;
}

.nav__title-menu {
  display: none;  
}

@media (max-width: 1200px) {
  .nav__btn {
    margin-right: 22px;
  }
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #365ABA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    min-height: 240px;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    transform: translateY(calc(-100% - 130px));
    transition: transform .5s ease-out;
  }

  .nav.nav_active {
    transform: translateY(0);
  }

  .nav__btn {
    margin-right: 0; 
  }

  .nav__title-menu {
    display: block;
    font-size: 32px;
    font-weight: 500;
  }
}

@media (max-width: 740px) {
  .nav {
    top: 60px;
    min-height: 290px;
    padding: 56px 20px;
    transform: translateY(calc(-100% - 60px));
  }
}
