.profile {
  display: flex;
  align-items: flex-end;
}

.profile__avatar {
  width: 100%;
  max-width: 437px;
  border-radius: 50%;
  margin-right: 107px;
}

.profile__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 78px;
}

.profile__fullname {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 12px;
}

.profile__birthday {
  font-size: 38px;
  margin-bottom: 44px;
}

.profile__edit {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.profile__edit-icon {
  margin-right: 7px;
}

@media (max-width: 1200px) {
  .profile__avatar {
    max-width: 466px;
    margin-right: 34px;
  }
  
  .profile__content {
    padding-bottom: 145px;
  }
  
  .profile__birthday {
    font-size: 32px;
    margin-bottom: 12px;
  }
  
  .profile__edit-icon {
    margin-right: 2px;
  }
}

@media (max-width: 992px) {
  .profile__avatar {
    max-width: 340px;
    margin-right: 20px;
  }
  
  .profile__content {
    padding-bottom: 68px;
  }
  
  .profile__birthday {
    margin-bottom: 24px;
  }
  
  .profile__edit-icon {
    width: 30px;
    margin-right: 7px;
  }
}
